<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Добавить</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.close()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form #productForm="ngForm">
      <div class="form-group">
        <label for="inputName">Название</label>
        <input [(ngModel)]="product.name" required minlength="5" maxlength="40" name="name" type="text"
          class="form-control" id="inputName" #name="ngModel">
        <div *ngIf="name.invalid && (name.dirty || name.touched)" class="alert alert-danger">
          <div *ngIf="name.errors.required">
            Обязательное поле
          </div>
          <div *ngIf="name.errors.minlength">
            Минимальная длина 5 символов
          </div>
          <div *ngIf="name.errors.maxlength">
            Максимальная длина 40 символов
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="inputPrice">Цена</label>
        <input [(ngModel)]="product.price" name="price" type="number" required min="1" aboveZero class="form-control" id="inputPrice" #price="ngModel">
        <div *ngIf="price.invalid && (price.dirty || price.touched)" class="alert alert-danger">
          <div *ngIf="price.errors.required">
            Обязательное поле
          </div>
          <div *ngIf="price.errors.aboveZero">
            Цена должна быть больше 1
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="inputShelfLife">Срок годности</label>
        <div class="input-group">
          <input [(ngModel)]="product.shelfLife" #date="ngModel" dateMoreToday required name="shelfLife" class="form-control" id="inputShelfLife"
            placeholder="yyyy-mm-dd" ngbDatepicker #d="ngbDatepicker">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button"></button>
          </div>
        </div>
        <div *ngIf="date.invalid && (date.dirty || date.touched)" class="alert alert-danger">
            <div *ngIf="date.errors.required">
              Обязательное поле
            </div>
            <div *ngIf="date.errors.dateMoreToday">
              Дата должна быть больше чем сегодня
            </div>
          </div>
      </div>
      <div class="form-group">
        <label for="categorySelect">Категория</label>
        <select [(ngModel)]="product.categoryId" name="categoryId" class="form-control" id="categorySelect">
          <option *ngFor="let category of categories" [ngValue]="category.id">{{category.name}}</option>
        </select>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button [disabled]="productForm.form.invalid" type="button" class="btn btn-primary" (click)="save()">Сохранить</button>
  </div>
</ng-template>

<button class="btn btn-outline-primary btn-add" (click)="open()">Добавить</button>