<app-form-modal-category (onAdded)="addCategory($event)" (onUpdated)="updateCategory($event)"></app-form-modal-category>
<table class="table">
  <thead>
    <tr>
      <th>ID</th>
      <th>Название</th>
      <th>Действия</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let category of categories">
      <th>{{ category.id }}</th>
      <td>{{ category.name }}</td>
      <td>
        <button (click)="onClickEditBtn(category)" type="button" class="btn" title="Редактировать">
          <fa-icon icon="edit"></fa-icon>
        </button>
        <button (click)="onClickRemoveBtn(category)" type="button" class="btn" title="Удалить">
          <fa-icon icon="trash-alt"></fa-icon>
        </button>
      </td>
    </tr>
  </tbody>
</table>