<ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">{{ category.id ? 'Редактировать' : 'Добавить' }}</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.close()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form>
        <div class="form-group">
          <label for="inputName">Название</label>
          <input [(ngModel)]="category.name" name="name" type="text" class="form-control" id="inputName">
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="save()">Сохранить</button>
    </div>
  </ng-template>
  
  <button class="btn btn-outline-primary btn-add" (click)="open()">Добавить</button>